@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        D. Shankar Lal Nagar<br />
        8-3-166/C/8, Vikaspuri<br />
        Hyderabad, Telangana 500018<br />
        <abbr title="Phone">P:</abbr>
        4103 7467 82
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>